body {
    background-color: #391412;
    width:1300px;
    align-content:center;
    margin: 0 auto; 
}
header{
    width:1200px; 
    height:120px;
    background-color: #1E90FF;
    margin: 0 auto; 
}

nav{
    width:1200px; 
    height:50px;
    background-color:#98FB98;
    text-align:center;
    margin: 0 auto; 
}

.menu{
    color: white;
    text-decoration:none;
}
.menu:hover{
    color: blue;
}
article{
    width:1200px; 
    min-height:400px;
    background-color:#7FFF00;
    margin: 0 auto; 
}

footer{
    width:1200px; 
    min-height:50px;
    background-color:#FF8C00;
    clear:both;
    text-align:center;
    margin: 0 auto; 
}